.App {
  text-align: center;
}

.table {
    margin: 1rem;
}

.table--body {
    display: inline-flex;
    align-items: flex-start;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: lightgray;
}

.cell {
    display: flex;
    flex-direction: column;
}

.cell--content {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.cell--children {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.menu {
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    padding: 25px;
}

.menu--list {
    border: 1px solid #ccc;
    white-space: nowrap;
    background: #fff;
    color: #333;
    border-radius: 5px;
    text-align: left;
    list-style: none;
}

.menu--header {
    padding: 8px 12px 8px 0px;
    font-weight: bold;
    cursor: pointer;
}

.menu--action {
    padding: 8px 12px;
    cursor: pointer;
}

.menu--action:hover {
    background-color: #def;
}
