.App {
  text-align: center;
}

.table {
    margin: 1rem;
}

.table--body {
    display: inline-flex;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.cell {
    display: flex;
    flex-direction: column;
}

.cell--content {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.cell--children {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

