.App {
  text-align: center;
}

.table {
    margin: 1rem;
}

.table--body {
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
}

.cell {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* TODO: fix border */
    /* border: 1px solid gray; */
}

.cell--children {
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
}

.cell--children--no_children {
    /* width: 5rem;
    height: 5rem; */
}
